In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [6]:
df.head(n=100)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
95,-115.58,32.81,5.0,805.0,143.0,458.0,143.0,4.4750,96300.0
96,-115.58,32.81,10.0,1088.0,203.0,533.0,201.0,3.6597,87500.0
97,-115.58,32.79,14.0,1687.0,507.0,762.0,451.0,1.6635,64400.0
98,-115.58,32.78,5.0,2494.0,414.0,1416.0,421.0,5.7843,110100.0
99,-115.59,32.85,20.0,1608.0,274.0,862.0,248.0,4.8750,90800.0

In [14]:
df.loc[df['median_house_value'] > 500,'population']

0        1015.0
1        1129.0
2         333.0
3         515.0
4         624.0
          ...
16995     907.0
16996    1194.0
16997    1244.0
16998    1298.0
16999     806.0
Name: population, Length: 17000, dtype: float64

In [15]:
df.loc[(df.median_house_value > 0) & (df.median_house_value < 500)]

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value]
Index: []

In [16]:
min(df['households'])

1.0

In [17]:
max(df['households'])

6082.0

In [18]:
min(df['population'])

3.0

In [19]:
max(df['population'])

35682.0

In [20]:
df[df['population'] == df['population'].min()]['households'].max()

4.0

In [21]:
max(df[df['population'] == df['population'].min()]['households'])

4.0