In [30]:
import pandas as pd
import numpy as np

In [31]:
from tabulate import tabulate

In [32]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  human
4  robot

In [33]:
import random
data = [['robot', 1], 
        ['human', 0]]*10
random.shuffle(data)
col_names = ["whoAmI", "index"]
print(tabulate(data, headers=col_names, tablefmt="fancy_grid", showindex="always"))

╒════╤══════════╤═════════╕
│    │ whoAmI   │   index │
╞════╪══════════╪═════════╡
│  0 │ human    │       0 │
├────┼──────────┼─────────┤
│  1 │ robot    │       1 │
├────┼──────────┼─────────┤
│  2 │ robot    │       1 │
├────┼──────────┼─────────┤
│  3 │ robot    │       1 │
├────┼──────────┼─────────┤
│  4 │ robot    │       1 │
├────┼──────────┼─────────┤
│  5 │ human    │       0 │
├────┼──────────┼─────────┤
│  6 │ human    │       0 │
├────┼──────────┼─────────┤
│  7 │ human    │       0 │
├────┼──────────┼─────────┤
│  8 │ robot    │       1 │
├────┼──────────┼─────────┤
│  9 │ human    │       0 │
├────┼──────────┼─────────┤
│ 10 │ robot    │       1 │
├────┼──────────┼─────────┤
│ 11 │ human    │       0 │
├────┼──────────┼─────────┤
│ 12 │ robot    │       1 │
├────┼──────────┼─────────┤
│ 13 │ human    │       0 │
├────┼──────────┼─────────┤
│ 14 │ human    │       0 │
├────┼──────────┼─────────┤
│ 15 │ human    │       0 │
├────┼──────────┼─────────┤
│ 16 │ robot    │       1 │
├────┼──────────┼─────────┤
│ 17 │ robot    │       1 │
├────┼──────────┼─────────┤
│ 18 │ human    │       0 │
├────┼──────────┼─────────┤
│ 19 │ robot    │       1 │
╘════╧══════════╧═════════╛

In [34]:
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
print('DataFrame: ', data.head())
unique_vals = data['whoAmI'].unique()
one_hot_data = pd.DataFrame(columns=unique_vals)
for val in unique_vals:
  one_hot_data[val]= (data['whoAmI'] == val).astype(int)
print('whoAmI\n', one_hot_data.head())

DataFrame:    whoAmI
0  human
1  human
2  robot
3  human
4  robot
whoAmI
    human  robot
0      1      0
1      1      0
2      0      1
3      1      0
4      0      1