In [86]:
import pandas as pd
import numpy as np

In [8]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  robot
2  human
3  robot
4  robot

In [52]:
from tabulate import tabulate

In [164]:
import random
data = [['robot'], ['human']]*10
random.shuffle(data)
col_names = ["whoAmI"]
print(tabulate(data, headers=col_names, tablefmt="fancy_grid", showindex="always"))

╒════╤══════════╕
│    │ whoAmI   │
╞════╪══════════╡
│  0 │ robot    │
├────┼──────────┤
│  1 │ human    │
├────┼──────────┤
│  2 │ human    │
├────┼──────────┤
│  3 │ robot    │
├────┼──────────┤
│  4 │ human    │
├────┼──────────┤
│  5 │ human    │
├────┼──────────┤
│  6 │ human    │
├────┼──────────┤
│  7 │ human    │
├────┼──────────┤
│  8 │ robot    │
├────┼──────────┤
│  9 │ robot    │
├────┼──────────┤
│ 10 │ robot    │
├────┼──────────┤
│ 11 │ robot    │
├────┼──────────┤
│ 12 │ robot    │
├────┼──────────┤
│ 13 │ human    │
├────┼──────────┤
│ 14 │ robot    │
├────┼──────────┤
│ 15 │ robot    │
├────┼──────────┤
│ 16 │ robot    │
├────┼──────────┤
│ 17 │ human    │
├────┼──────────┤
│ 18 │ human    │
├────┼──────────┤
│ 19 │ human    │
╘════╧══════════╛

In [159]:
data = pd.DataFrame(random.sample(['robot', 'human']*10, 10) ,columns={'whoAmI'})
print(data)

  whoAmI
0  human
1  robot
2  robot
3  human
4  human
5  robot
6  robot
7  robot
8  human
9  human